In [3]:
print("Hi")

Hi

In [5]:
# iterable - a list of booleans
all([True, True, True])
# True
all([True, False, False])
# False

# iterable - a list of integers (0 is considered false)
all([1, 2, 3])
# True
all([0, 1, 2])
# False

# iterable - a tuple of string (an empty string is considered false)
all(('Munich', 'Valencia', 'Madrid'))
# True
all(('Munich', 'Valencia', ''))
# False

# iterable - a nested list (an empty list is considered false)
all([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
# True
all([[1, 2, 3], [4, 5, 6], []])
# False

False

In [6]:
results = [number for number in range(0, 100)]

In [7]:
results

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [8]:
new = [number for number in results if number % 3 == 0 and number > 50]

In [9]:
new

[51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [10]:
x = int(input("First : "))
y = int(input("Second : "))
c = x+ y
print("Sum : ", c)

First : 1
Second : 2
Sum :  3

In [11]:
my_list = [1,2,3,1,1,4,2,1]
most_frequent = max(set(my_list),key=my_list.count)
print(most_frequent)

1

In [13]:
from openpyxl import Workbook

workbook = Workbook()
sheet = workbook.active

sheet["A1"] = "hello"
sheet["B1"] = "world!"

In [14]:
workbook.save(filename="hello_world.xlsx")

In [16]:
x = [0]*1000

In [17]:
x = {'a': 1, 'b': 2}
y = {'b': 3, 'c': 4}
z = {**x, **y}

In [18]:
z

{'a': 1, 'b': 3, 'c': 4}

In [19]:
from xml.etree.ElementTree import Elementdef dict_to_xml(tag, d):
    '''
    Turn a simple dict of key/value pairs into XML
    '''
    elem = Element(tag)
    for key, val in d.items():
        child = Element(key)
        child.text = str(val)
        elem.append(child)
    return elem

SyntaxError: invalid syntax (<ipython-input-19-f4fbcc0a9f10>, line 1)

In [22]:
from collections import Counter
num_lst = [1, 1, 2, 3, 4, 5, 3, 2, 3, 4, 2, 1, 2, 3]
cnt = Counter(num_lst)
print(dict(cnt))
print(dict(cnt.most_common(2)))
str_lst = ['blue', 'red', 'green', 'blue', 'red', 'red', 'green']
print(dict(Counter(str_lst)))

{1: 3, 2: 4, 3: 4, 4: 2, 5: 1}
{2: 4, 3: 4}
{'blue': 2, 'red': 3, 'green': 2}

In [23]:
lst = [1, 2, 3]
doubled = []
for num in lst:
    doubled.append(num*2)
print(doubled)

doubled = [num*2 for num in lst]
print(doubled)

[2, 4, 6]
[2, 4, 6]

In [24]:
V

NameError: name 'V' is not defined

In [25]:
import string

def is_upper(word):
    return all(c in string.ascii_uppercase for c in list(word))

print(is_upper('HUMANBEING'))
print(is_upper('humanbeing'))

True
False

In [26]:
d = [1, 2, 1, 3]
a = [each for each in d if each == 1]
print(a)

[1, 1]

In [27]:
import itertools
import operator
data = [1, 2, 3, 4, 5]
result = list(itertools.accumulate(data, operator.add))
print(result)

[1, 3, 6, 10, 15]

In [1]:
>>> # define a list of tuples
>>> records = [(1, 'John'), (2, 'Aaron'), (5, 'Ian')]
>>> # sort with a lambda
>>> sorted(records, key=lambda x: len(x[1]))
[(5, 'Ian'), (1, 'John'), (2, 'Aaron')]

[(5, 'Ian'), (1, 'John'), (2, 'Aaron')]

In [2]:
x

NameError: name 'x' is not defined