In [1]:
def do_something(fn):
    print("=======")
    fn()
    print("=======")

f1 = lambda : print( "simple function" );

do_something( f1 )

=======
simple function
=======

In [2]:
meals = ['pizza', 'hamberger', 'pasta', 'ramen', 'salad']

In [5]:
for meal in reversed(meals):
    print(meal)

salad
ramen
pasta
hamberger
pizza

In [6]:
employees = ['John', 'Danny', 'Jennifer']

In [7]:
for id_number, name in enumerate(employees, start=30001):
     print(f"{name}'s employee ID #: {id_number}")

John's employee ID #: 30001
Danny's employee ID #: 30002
Jennifer's employee ID #: 30003

In [8]:
meals = ['pizza', 'hamberger', 'pasta', 'ramen', 'salad']

In [9]:
numbers0 = [4, 5, 6]
numbers1 = [11, 12, 13]
for j, k in zip(numbers0, numbers1):
    print(f'{j} * {k} = {j*k}')

4 * 11 = 44
5 * 12 = 60
6 * 13 = 78

In [11]:
f"list : {meals}"

"list : ['pizza', 'hamberger', 'pasta', 'ramen', 'salad']"

In [3]:
class Student:
...     def __new__(cls):
...         print('__new__ gets called.')
...     def __init__(self):    
...         print('__init__ gets called.')

In [4]:
student = Student()

__new__ gets called.

In [5]:
 type(student)

NoneType

In [6]:
type(Student())

__new__ gets called.

NoneType

In [8]:
Student()

__new__ gets called.

In [9]:
a = [1, 2, 3, 4, 5, 6, 7, 8]
print ('first four:', a[:4])
print ('last four:', a[-4:])
print ('middle two:', a[3:-3])

first four: [1, 2, 3, 4]
last four: [5, 6, 7, 8]
middle two: [4, 5]

In [15]:
a[4:1111]

[5, 6, 7, 8]

In [17]:
def append_fn(name):
    print("Add {}".format(name))

def calling_fn():
    name = "John"